

div#wrapper {
    margin: auto;
    height: 100%;
    padding: 10%;
}

div#container {
    margin: auto;
    width: 732px; /* Twice the width to allow for page opening*/
    height: 439px;	/* padding with 15 px top and bottom */
    position: relative;
    padding: 15px;

    box-sizing: border-box;
}

.frontcover {
    background: -webkit-radial-gradient(circle, Gold, CadetBlue); /* Safari */
    background: -o-radial-gradient(circle, Gold, CadetBlue); /* Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(circle, Navy, Gold, CadetBlue); /* Firefox 3.6 to 15 */
    background: radial-gradient(circle, Gold, CadetBlue); /* Standard syntax */

    font-size: 3em;
    padding:10%;
}

small { font-size: 0.4em; }

.backcover {
    background-color: CadetBlue;
}

.frontcover, .backcover {
    color: Navy;
    font-family: Garamond, serif;
    font-style: italic;
    font-weight: bold;
    border: 5px double navy;
}


div.page {
    margin: auto;
    box-sizing: border-box;

    text-align: center;

    width: 366px;
    height: 439px;

    position: absolute;
    left: 366px;
    top: 0px;
}

img.page {
    width: 351px;
    height: 409px;

    position: absolute;
    left: 366px;
    top: 15px;
}


.pageA {
    transform-origin: top left;
    animation-name: flippage;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

div#page0 {
    z-index: 0;
}

img#page1 {
    z-index: -1;
}

img#page2 {
    z-index: -2;
}
img#page3 {
    z-index: -3;
}
img#page4 {
    z-index: -4;
}

img#page5 {
    z-index: -5;
}

img#page6 {
    z-index: -6;
}

img#page7 {
    z-index: -7;
}

img#page8 {
    z-index: -8;
}

img#page9 {
    z-index: -9;
}

img#page10 {
    z-index: -10;
}

div#page11 {
    animation-name: none; /* Don't close the flap at the end */
    /*animation-delay: 60s;*/
    z-index: -11;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes flippage {
    from {
        -webkit-transform: rotateY(0deg);
        z-index: 1;
    }
    to {
        -webkit-transform: rotateY(180deg);
        z-index: 1;
    }
}

/* Standard syntax */
@keyframes flippage {
    from {
        transform: rotateY(0deg);
        z-index: 1;
    }
    to {
        transform: rotateY(180deg);
        z-index: 1;
    }
}

